<template>
  <div class="list-group">
     <router-link to="/">
          <a href="home.html" class="list-group-item action">
            <span>List</span>
          </a>
          </router-link>
           <router-link to="/New">
          <a href="index.html" class="list-group-item action">
            <span>New</span>
          </a>  </router-link>
           <router-link to="/search">
          <a href="category.html" class="list-group-item action">
            <span>Search</span>
          </a>  </router-link>
         
        </div>
</template>

<script>
export default {
name:'Menu'
}
</script>

<style scoped>
.list-group-item {
  border: 0px;
  
}

.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
a {
  color: #151618;
  text-decoration: unset;
}
/* menu */
.menu {
    background-color: white;

}

.menu .list-group {
    background-color: white;
    border-radius: 0;
    text-align: left;
    padding-bottom: 500px;
    height: 1000px;
}

.menu .list-group a {
    padding: 15px 30px;
}

.menu .list-group .list-group-item {
    background-color: white;
    color: black;
}

.menu .list-group .action:hover {
    background-color: #1ba1bf;
}
</style>