<template>
  <Creat :blog="blog" :error="error" @update="updateBlog" :isInsert="false"
    ><h5>Updatde</h5></Creat
  >
</template>

<script>
import baseUrl from "../../base.js";
import { validateBlog } from "../../validate";
import axios from "axios";
import Creat from "../../components/blogs/BLogCreatEdit.vue";
export default {
  name: "Detail",
  components: { Creat },
  data() {
    return {
      blog: {
        title: "",
        des: "",
        public: "",
        category: "",
        data_pubblic: "",
        position: [],
        detail: "",
      },
      error: [],
    };
  },
  methods: {
    /**
     * Get Blog $id
     * @params id
     * @returns array
     */
    getBlog(id) {
      axios.get(baseUrl + `/${id}`).then((res) => {
        console.log(res.data);
        this.blog = res.data.data;
      });
    },
    /**
     * Upadate Blog
     * @returns array
     */
    updateBlog() {
      //Validate
      this.error = validateBlog(this.blog);
      if (this.error.length === 0) {
        axios
          .put(baseUrl + `/${this.$route.params.id}`, this.blog)
          .then((res) => {
            window.location.href = "/";
          });
      }
    },
  },

  created() {
    this.getBlog(this.$route.params.id);
  },
};
</script>

<style>
.vali {
  color: red;
}
</style>
