<template>
  <Creat :blog="this.blog" :error="error" @insert="InsertBlog" :isInsert="true"
    ><h5>NewBlog</h5>
  </Creat>
</template>
<script>
import baseUrl from "../../base.js";
import axios from "axios";
import { validateBlog } from "../../validate";
import Creat from "../../components/blogs/BLogCreatEdit.vue";
export default {
  name: "New",
  components: { Creat },
  data() {
    return {
      blog: {
        title: "",
        des: "",
        public: "",
        category: "",
        data_pubblic: "",
        position: [],
        detail: "",
      },
      error: [],
    };
  },
  methods: {
    /**
     * AdddBlog
     * @returns array
     */
    InsertBlog(blog) {
      // Validate
      this.error = validateBlog(this.blog);
      if (this.error.length == 0) {
        axios.post(baseUrl, this.blog).then((res) => {
          window.location.href = "/";
        });
      }
    },
  },
};
</script>

<style></style>
