<template>
  <div class="col-md-10 col- p-3 menu">
    <div class="card">
      <div class="card-header">List Blog</div>

      <table class="table table-bordered">
        <thead>
          <tr class="text-center">
            <th scope="col" class="col-md-1 ths">id</th>
            <th scope="col" class="col-md-2">Tin</th>
            <th scope="col-3">Loai</th>
            <th scope="col-3">Trang thai</th>
            <th scope="col-3">Vi tri</th>
            <th scope="col-3">Ngay Public</th>
            <th scope="col" class="col-md-1">Edit</th>
            <th scope="col-3">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="blog in blogs" :key="blog.id" class="text-center">
            <th scope="row">{{ blog.id }}</th>

            <td class="text-start">{{ blog.title }}</td>
            <td>{{ getCategory(blog.category) }}</td>
            <td>{{ getPlace(blog.position) }}</td>
            <td>{{ blog.public == 0 ? "NO" : "Yes" }}</td>

            <td>{{ blog.data_pubblic }}</td>
            <td class="text-center">
              <router-link :to="'/edit/' + blog.id"
                ><button
                  type="button"
                  class="btn btn-outline-primary text-center"
                >
                  Edit
                </button></router-link
              >
            </td>
            <td class="col-md-1 text-center">
              <button
                @click="deletePost(blog.id)"
                type="button"
                class="btn btn-outline-danger text-center"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="card-footer"></div>
    </div>
  </div>
</template>

<script>
import baseUrl from "../../base.js";
import Category from "../../store/Category";
import Place from "../../store/Place";
import axios from "axios";
export default {
  name: "Index",
  props: {
    blogs: Array,
  },

  methods: {
    /**
     * get name category
     * @param id
     * @returns string
     * */
    getCategory(id) {
      const name = Category.find((data) => data.id == id);
      return name ? name.name : "";
    },

    /**
     * get name position
     * @param arrayId
     * @returns string
     */
    getPlace(arrayId) {
      const names = Place.filter((datum) => arrayId.includes(datum.id))
        .map((datum) => datum.name)
        .join(", ");
      return names;
    },

    deletePost(id) {
      // Call API endpoint to delete Blog Post
      axios
        .delete(baseUrl + `/${id}`)
        .then((response) => {
          // remove the element in this.blogs array whose id matches the passed id value.
          this.blogs = this.blogs.filter((blog) => blog.id !== id);
          window.location.href = "/";
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style></style>
