<template>
  <div class="col-md-10 col- p-3 menu">
    <div class="card">
      <slot></slot>
      <ul></ul>
      <div class="card-body">
        <form class="m-2">
          <div class="form-group">
            <label>Tieu de :</label>

            <input class="form-control" v-model="blog.title" type="text" />

            <div v-if="error.includes('title')" class="vali">
              Title must be at least 6 characters long.
            </div>
            <div v-if="error.includes('titles')" class="vali">
              require title
            </div>
          </div>
          <div class="form-group">
            <label>Tieu de :</label>

            <textarea
              rows="5"
              class="form-control"
              v-model="blog.des"
              type="text"
            ></textarea>
          </div>
          <div class="form-group">
            <label>Tieu de :</label>
            <textarea
              rows="10"
              class="form-control"
              v-model="blog.detail"
              type="text"
            ></textarea>
          </div>
          <div class="form-group">
            <p>Hinh anh :</p>
            <input type="file" />
          </div>
          <div class="form-group mt-2">
            <div><label>Vi tri :</label></div>
            <div
              class="form-check form-check-inline"
              v-for="address in Place"
              :key="address.id"
            >
              <input
                class="form-check-input"
                type="checkbox"
                :value="address.id"
                v-model="blog.position"
              />
              <label class="form-check-label">{{ address.name }}</label>
            </div>
            {{ blog.position }}
          </div>
          <div v-if="error.includes('position')" class="vali">
            required position
          </div>
          <div class="form-group">
            <div><label class="">Tieu de : </label></div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                name="public"
                type="radio"
                id="inlineRadio1"
                value="1"
                v-model="blog.public"
              />
              <label class="form-check-label" for="inlineRadio1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                name="public"
                type="radio"
                id="inlineRadio2"
                value="0"
                v-model="blog.public"
              />
              <label class="form-check-label" for="inlineRadio2">No</label>
            </div>
            <div v-if="error.includes('public')" class="vali">
              required public
            </div>

            <div class="form-group">
              <label>Tieu de :</label>
              <div class="row">
                <div class="col-md-6">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    v-model="blog.category"
                  >
                    <option
                      v-for="cate in Category"
                      :key="cate.id"
                      :value="cate.id"
                    >
                      {{ cate.name }}
                    </option>
                  </select>
                  <div v-if="error.includes('category')" class="vali">
                    required category
                  </div>
                </div>
                <div class="col-md-6">
                  <input
                    class="form-control"
                    v-model="blog.data_pubblic"
                    type="date"
                  />
                  <div v-if="error.includes('data_pubblic')" class="vali">
                    required data_pubblic
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-center gap-2 m-3">
                <button
                  type="submit"
                  class="btn btn-success"
                  @click.prevent="Submit"
                >
                  Submit
                </button>
                <button type="button" class="btn btn-primary">Clear</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Category from "../../store/Category";
import Place from "../../store/Place";
export default {
  name: "Creat",
  props: {
    blog: {},
    error: Array,
    isInsert: true,
  },
  data() {
    return {
      Category: Category,
      Place: Place,
    };
  },

  methods: {
    /**
     * Get list Category
     * @returns array
     */

    /**
     * Get list Position
     * @returns array
     */

    Submit() {
      if (this.isInsert) {
        this.$emit("insert", this.blog);
      } else {
        this.$emit("update", this.blog);
      }
    },
  },
};
</script>

<style scope>
.vali {
  color: red;
}
</style>
